<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Пользователи</title>
        </head>
        <body>
            <div><img src="{{avatar1}}" width="50px"><a href="http://localhost:3000/user?id=0">{{name1}}</a></div>
            <div><img src="{{avatar2}}" width="50px"><a href="http://localhost:3000/user?id=1">{{name2}}</a></div>
            <div><img src="{{avatar3}}" width="50px"><a href="http://localhost:3000/user?id=2">{{name3}}</a></div>
            <div><img src="{{avatar4}}" width="50px"><a href="http://localhost:3000/user?id=3">{{name4}}</a></div>
            <div><img src="{{avatar5}}" width="50px"><a href="http://localhost:3000/user?id=4">{{name5}}</a></div>
            <div><img src="{{avatar6}}" width="50px"><a href="http://localhost:3000/user?id=5">{{name6}}</a></div>
            <div><img src="{{avatar7}}" width="50px"><a href="http://localhost:3000/user?id=6">{{name7}}</a></div>
        </body>
        </html>